<div>
  <form class="mt-5 mb-5" style="text-align: center;" >
    <div class="form-group">
      <!-- <label for="privateKey">Import Private Key</label> -->
      <input type="password" class="form-control" id="privateKey"  placeholder="Import Private Key" style="text-align: center;">
    </div>
    <br>  <br>
  
    <button type="submit" class="btn btn-primary" style="width: 20%;" (click)="accname1()">Import</button>
    <br>  <br>
  
    <button type="submit" class="btn btn-primary" style="width: 20%;" routerLink="/generate">generate</button>
  
    
  </form>
</div>

